<a href="https://colab.research.google.com/github/sleeprock/SQL/blob/main/gleb_sql_course_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import csv
from io import StringIO
from sqlalchemy import create_engine
from datetime import datetime

In [1]:
!gdown --id 1BSHIKQ7rFw5BpTq5nw1UZfjPK_7Mpnbi
!mv _sqlite3.cpython-37m-x86_64-linux-gnu.so /usr/lib/python3.7/lib-dynload/

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1BSHIKQ7rFw5BpTq5nw1UZfjPK_7Mpnbi
To: /content/_sqlite3.cpython-37m-x86_64-linux-gnu.so
100% 6.50M/6.50M [00:00<00:00, 105MB/s]

In [ ]:
import os
os.kill(os.getpid(), 9)

In [2]:
sqlite3.sqlite_version

'3.38.0'

# DB Create Connect

In [3]:
#read csv to df from my google drive
df = pd.read_csv('/content/drive/MyDrive/german_credit_augmented.csv')

In [4]:
#check data types and transorm if need
df.contract_dt = pd.to_datetime(df['contract_dt'], format='%Y-%m-%d %H:%M:%S')

In [5]:
#connection to sqlite db on google drive (creates file if not exist)
con = sqlite3.connect('/content/drive/MyDrive/data/german_credit.db')

In [6]:
cur = con.cursor()

In [7]:
#connection to Postgresql on elephantsql
con_pg = create_engine('postgresql+psycopg2://hpaevzml:S3Ua6iaoDBTUoqVodvjM29m1qHUetpZM@tai.db.elephantsql.com/hpaevzml')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [8]:
#метод для заливки в postgres
def psql_insert_copy(table, conn, keys, data_iter):
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)

In [ ]:
# df to database (table_name, connection)
df.to_sql('german_credit', con, index=False, if_exists='replace')

In [ ]:
#insert df to database Postgres
df.to_sql('german_credit', con_pg, index=False, if_exists='replace', method=psql_insert_copy)

In [ ]:
sql = '''select * from german_credit t limit 10'''

In [ ]:
pd.read_sql(sql, con)

In [9]:
def select (sql):
  return pd.read_sql(sql, con)

def select_pg (sql):
  return pd.read_sql(sql, con_pg)

# SELECT

In [ ]:
sql = '''select * from german_credit t limit 3'''

In [ ]:
sql = '''select
credit_amount,
AVG(case when t.credit_amount > 1000 then 1 else 0 end) as credit_amount_1000_flag
from german_credit t
'''

In [ ]:
#Save SELECT to separate table
sql = '''
drop table if exists grater_1000_credit;

create table grater_1000_credit as
select * from german_credit t
where t.credit_amount >1000
'''

In [ ]:
cur.executescript(sql)

In [ ]:
sql = '''SELECT  from sqlite_master where type= "table"
'''

In [ ]:
select(sql)

                 name
0       german_credit
1  grater_1000_credit

# UNION ALL

In [ ]:
jan = pd.DataFrame({'month':['jan', 'jan'], 'revenue':[1, 2]})
feb = pd.DataFrame({'month':['feb', 'feb'], 'revenue':[1, 2]})

In [ ]:
jan.to_sql('jan', con, index=False, if_exists='replace')
feb.to_sql('feb', con, index=False, if_exists='replace')

In [ ]:
sql = '''select * from jan j
union all
select * from feb f
'''

In [ ]:
select(sql)

In [ ]:
sql = '''select 'jan' as month, j.revenue from jan j
union all
select 'feb' as month, f.revenue from feb f
'''

In [ ]:
select(sql)

# Other

In [ ]:
#Substring
sql = '''select upper(substr(t.sex,2,2)) as sex from german_credit t'''

In [ ]:
select(sql)

# Group By

In [ ]:
sql = '''select * from german_credit t limit 10'''

In [ ]:
sql = '''select 
t.sex, 
count(*),
round(avg(credit_amount), 2) as avg_credit
from german_credit t
group by sex
limit 10'''

In [ ]:
select(sql)

      sex  count(*)  avg_credit
0  female       310     2877.77
1    male       690     3448.04

In [ ]:
df.groupby('sex', as_index=False)['credit_amount'] \
     .agg(['count', 'mean']) \
     .round(2)

        count     mean
sex
female    310  2877.77
male      690  3448.04

In [ ]:
sql = '''select
t.checking_account,

count(*),
round(avg(credit_amount), 2) as avg_credit
from german_credit t
group by t.checking_account
'''

In [ ]:
df.groupby('checking_account', dropna=False)['credit_amount'].count()

checking_account
little      274
moderate    269
rich         63
NaN         394
Name: credit_amount, dtype: int64

In [ ]:
select(sql)

  checking_account  count(*)  avg_credit
0             None       394     3133.10
1           little       274     3175.22
2         moderate       269     3827.56
3             rich        63     2177.65

In [ ]:
sql = '''select count(t.checking_account), count(1) from german_credit t'''

In [ ]:
select(sql)

   count(t.checking_account)  count(1)
0                        606      1000

In [ ]:
#Flag for Empty rows
sql = '''select
sum(case when t.checking_account is null then 1 else 0 end) as is_null
from german_credit t'''

In [ ]:
select(sql)

   is_null
0      394

In [ ]:
t = pd.DataFrame({'col1':[1,np.nan,2],
                  'col2':[np.nan,np.nan,1],
                  'col3':[1,2,3],
                  })

In [ ]:
t.to_sql('null_test', con, index=False, if_exists='replace')

In [ ]:
sql = '''select * from null_test t'''

In [ ]:
sql = '''select count(coalesce(col1, 0)) from null_test t'''

In [ ]:
select(sql)

   col1  col2  col3
0   1.0   NaN     1
1   NaN   NaN     2
2   2.0   1.0     3

In [ ]:
sql = '''select t.*, coalesce(t.col1, t.col2, t.col3) from null_test t'''

In [ ]:
select(sql)

   col1  col2  col3  coalesce(t.col1, t.col2, t.col3)
0   1.0   NaN     1                               1.0
1   NaN   NaN     2                               2.0
2   2.0   1.0     3                               2.0

In [ ]:
sql = '''select t.saving_accounts, coalesce(t.saving_accounts, 'no_val') from german_credit t'''

In [ ]:
select(sql)

In [ ]:
#Search Duplicates
t = pd.DataFrame({'id':[1,1,2], 'name':['a','a','b']})

In [ ]:
t.to_sql('dupl_test', con, index=False, if_exists='replace')

In [ ]:
sql = '''select * from dupl_test t'''

In [ ]:
select(sql)

   id name
0   1    a
1   1    b
2   2    c
3   2    d
4   3    e

In [ ]:
sql = '''select
t.id, t.name, count(1)
from dupl_test t
group by t.id, t.name
having count(1) > 1
'''

In [ ]:
select(sql)

NameError: ignored

In [ ]:
#Search Duplicates
t = pd.DataFrame({'id':[1,1,2,2,3], 'name':['a','b','c','d','e']})
t.to_sql('dupl_test', con, index=False, if_exists='replace')

In [ ]:
sql = '''select
t.id, count(1)
from dupl_test t
group by t.id
having count(1) > 1
'''

In [ ]:
sql = '''select
t.id
from dupl_test t
group by t.id
having count(1) > 1
'''

In [ ]:
#Subquery
sql = '''select * from dupl_test t
where t.id in (
  select t.id
from dupl_test t
group by t.id
having count(1) > 1
)'''

In [ ]:
select_pg(sql)

In [ ]:
#Postgres date
sql = '''select t.*, date_trunc('month', t.contract_dt) as extract from german_credit t'''

In [ ]:
select_pg(sql)

In [ ]:
#sqlite date
sql = '''select 
date(t.contract_dt, 'start of month') as c_month,
count(distinct t.client_id) as client_id_unique,
count(1) as credit_cnt,
sum(t.credit_amount) as credit_amount_sum

from german_credit t
group by c_month 
order by c_month
'''

In [ ]:
select(sql)

In [ ]:
df[C] = df.contract_dt - pd.offsets.MonthBegin(1)

In [ ]:
df['m1'] = pd.to_datetime(df['m1']).dt.date

In [ ]:
df['m1']

In [ ]:
df['client_id2'] = pd.Series(range(600)).sample(1000, replace=True).values

In [ ]:
df.to_sql('german_credit', con, index=False, if_exists='replace')

In [ ]:
#agg by month
sql = '''select 
date(t.contract_dt, 'start of month') as c_month,
count(distinct t.client_id2) as client_id2_unique,
count(1) as credit_cnt,
sum(t.credit_amount) as credit_amount_sum

from german_credit t
group by c_month 
order by c_month
'''

In [ ]:
sql = '''select 
case when t.credit_amount < 1000 then '1. <1000' 
     when t.credit_amount < 2000 then '2. 1000-2000'
     when t.credit_amount < 3000 then '3. 2000-3000'
     when t.credit_amount >= 3000 then '4. >= 3000' 
     else 'other'
end as credit_amount_bin,
count(1)

from german_credit t

group by
case when t.credit_amount < 1000 then '1. <1000' 
     when t.credit_amount < 2000 then '2. 1000-2000'
     when t.credit_amount < 3000 then '3. 2000-3000'
     when t.credit_amount >= 3000 then '4. >= 3000' 
     else 'other'
end
order by count(1)
'''

In [ ]:
select(sql)

In [ ]:
sql = '''select t.housing,

count(case when sex = 'female' then 1 else NULL end) as female,
count(case when sex = 'male' then 1 else NULL end) as male,
count(1) as cnt
 from german_credit t
 group by t.housing
 '''

In [ ]:
select(sql)

               purpose
0             radio/TV
1                  car
2            education
3  furniture/equipment
4              repairs
5             business
6  domestic appliances
7      vacation/others

In [ ]:
#pivot table with python
sql = '''select t.

  housing  female  male  cnt
0    free      19    89  108
1     own     196   517  713
2    rent      95    84  179

In [ ]:
sql = '''select distinct t.purpose from german_credit t'''

In [ ]:
purpose = list(select(sql)['purpose'].values)

In [ ]:
sql = '''select t.housing,

count(case when sex = 'female' then 1 else NULL end) as female,
count(case when sex = 'male' then 1 else NULL end) as male,
count(1) as cnt
 from german_credit t
 group by t.housing
 '''

In [ ]:
for p in purpose:
  print(f"count(case when t.purpose = '{p}' then 1 else NULL end) as {p.lower().replace(' ','_').replace('/','_')},")

count(case when t.purpose = 'radio/TV' then 1 else NULL end) as radio_tv,
count(case when t.purpose = 'car' then 1 else NULL end) as car,
count(case when t.purpose = 'education' then 1 else NULL end) as education,
count(case when t.purpose = 'furniture/equipment' then 1 else NULL end) as furniture_equipment,
count(case when t.purpose = 'repairs' then 1 else NULL end) as repairs,
count(case when t.purpose = 'business' then 1 else NULL end) as business,
count(case when t.purpose = 'domestic appliances' then 1 else NULL end) as domestic_appliances,
count(case when t.purpose = 'vacation/others' then 1 else NULL end) as vacation_others,

In [ ]:
sql = '''select t.housing,
count(case when t.purpose = 'radio/TV' then 1 else NULL end) as radio_tv,
count(case when t.purpose = 'car' then 1 else NULL end) as car,
count(case when t.purpose = 'education' then 1 else NULL end) as education,
count(case when t.purpose = 'furniture/equipment' then 1 else NULL end) as furniture_equipment,
count(case when t.purpose = 'repairs' then 1 else NULL end) as repairs,
count(case when t.purpose = 'business' then 1 else NULL end) as business,
count(case when t.purpose = 'domestic appliances' then 1 else NULL end) as domestic_appliances,
count(case when t.purpose = 'vacation/others' then 1 else NULL end) as vacation_others,
count(1) as cnt
 from german_credit t
 group by t.housing
 '''

In [ ]:
select(sql)

,housing,radio_tv,car,education,furniture_equipment,repairs,business,domestic_appliances,vacation_others,cnt
0,free,15,55,15,11,3,5,0,4,108
1,own,227,219,34,122,17,76,10,8,713
2,rent,38,63,10,48,2,16,2,0,179

In [ ]:
purpose = ['машина',
           'машина',
           'машина',
           'на машину',
           'на покупку машины',
           'автомобиль',
           'на возвращение 2007',
           'на свадьбу',
           'свадьба',
           'свадьба',
           'свадьба',
           'для свадьбы',
           'недвижимость',
           'на покупку недвижимости'
           ]

In [ ]:
df = pd.DataFrame(purpose, columns =['purpose'])

In [ ]:
df.to_sql('purpose', con, index=False, if_exists='replace')

In [ ]:
sql = '''select t.purpose,
count(1) from purpose t
group by t.purpose
order by count(1) DESC
'''

In [ ]:
select(sql)

In [ ]:
sql = '''
select purpose_bin, count(1) as cnt from
(
select t.purpose,
case 
when (t.purpose like '%машин%' or t.purpose like '%авто%') then 'car'
when t.purpose like '%свад%' then 'wedding'
when t.purpose like '%недвиж%' then 'real_est'
else 'other'
end as purpose_bin
from purpose t)

group by purpose_bin
'''

In [ ]:
select(sql)

  purpose_bin  cnt
0         car    6
1       other    1
2    real_est    2
3     wedding    5

In [ ]:
sql = '''
select
case 
when (t.purpose like '%машин%' or t.purpose like '%авто%') then 'car'
when t.purpose like '%свад%' then 'wedding'
when t.purpose like '%недвиж%' then 'real_est'
else 'other'
end as purpose_bin,
count(1) as cnt
from purpose t
group by 1
'''

In [ ]:
select(sql)

  purpose_bin  cnt
0         car    6
1       other    1
2    real_est    2
3     wedding    5

In [ ]:
cat = '''
select t.purpose,
case 
when (t.purpose like '%машин%' or t.purpose like '%авто%') then 'car'
when t.purpose like '%свад%' then 'wedding'
else 'other'
end as purpose_cat
from purpose t

'''

In [ ]:
select(cat)

                    purpose purpose_cat
0                    машина         car
1                    машина         car
2                    машина         car
3                 на машину         car
4         на покупку машины         car
5                автомобиль         car
6       на возвращение 2007       other
7                на свадьбу     wedding
8                   свадьба     wedding
9                   свадьба     wedding
10                  свадьба     wedding
11              для свадьбы     wedding
12             недвижимость       other
13  на покупку недвижимости       other

In [ ]:
sql = f'''
select t.purpose, count(1)
from ({cat}) t
where t.purpose_cat = 'other'
group by t.purpose
'''

# SUBQUERIES

In [ ]:
#Search Duplicates
t = pd.DataFrame({'id':[1,1,2,2,3], 'name':['a','b','c','d','e']})
t.to_sql('dupl_test', con, index=False, if_exists='replace')

In [ ]:
sql = '''select
t.id, count(1)
from dupl_test t
group by t.id
having count(1) > 1
'''

In [ ]:
sql = '''select * from dupl_test t
'''

In [ ]:
sql = '''
drop table if exists dupls;
create table dupls as
select t.id
from dupl_test t
group by t.id
having count(1) > 1
'''

In [ ]:
cur.executescript(sql)

In [ ]:
sql = '''select t.id from dupl_test t
where t.id in dupls
'''

In [ ]:
select(sql)

In [ ]:
sql = '''select * from dupls'''

## CTE (With)

In [ ]:
sql = '''
select * from
(
select * from
(select t.id, count(1) as cnt from dupl_test t
group by t.id
) t
where t.cnt > 1
) t
where t.id = 1
'''

In [ ]:
sql = '''
with id_cnt as (
select t.id, count(1) as cnt from dupl_test t
group by t.id ),

id_cnt2 as (
select * from id_cnt t where t.cnt > 1
)
select * from id_cnt2 t
where t.id = 1
'''

In [ ]:
sql = f'''
select t.purpose, count(1)
from ({cat}) t
where t.purpose_cat = 'other'
group by t.purpose
'''

In [ ]:
print(sql)

select t.purpose, count(1)
from (
select t.purpose,
case
when (t.purpose like '%машин%' or t.purpose like '%авто%') then 'car'
when t.purpose like '%свад%' then 'wedding'
else 'other'
end as purpose_cat
from purpose t

) t
where t.purpose_cat = 'other'
group by t.purpose

In [ ]:
sql = '''
with purpose_cat as (

select t.purpose,
case 
when (t.purpose like '%машин%' or t.purpose like '%авто%') then 'car'
when t.purpose like '%свад%' then 'wedding'
else 'other'
end as purpose_cat
from purpose t
)
select t.purpose_cat, count(1) from purpose_cat t
group by t.purpose_cat
'''

In [ ]:
select(sql)

  purpose_cat  count(1)
0         car         6
1       other         3
2     wedding         5

In [ ]:
sql = ''' '''

# JOIN

In [ ]:
users = pd.DataFrame({'id':[1,2,3],'name':['gleb','jon snow', 'tyrion']})
items = pd.DataFrame({'user_id':[1,3,3], 'item_name':['hleb','gold','wine'], 'value':[5,100, 20]})

In [ ]:
users.to_sql('users', con, index=False, if_exists='replace')
items.to_sql('items', con, index=False, if_exists='replace')

In [ ]:
sql = '''select * from items t'''

In [ ]:
select(sql)

In [ ]:
sql = '''select t.*, i.item_name
from users t
left join items i on t.id = i.user_id
'''

In [ ]:
sql = '''select t.value as val from items t
where t.val = 5
'''

In [ ]:
select(sql)

   val
0    5

In [ ]:
select(sql)

   id      name item_name
0   1      gleb      hleb
1   2  jon snow      None
2   3    tyrion      gold
3   3    tyrion      wine

In [ ]:
sql = '''select t.*, i.item_name
from users t
inner join items i on t.id = i.user_id
'''

In [ ]:
select(sql)

   id    name item_name
0   1    gleb      hleb
1   3  tyrion      gold
2   3  tyrion      wine

In [ ]:
sql = '''select t.*, i.item_name, i.value, i.user_id
from users t
left join items i on t.id = i.user_id
'''

In [ ]:
select(sql)

   id      name item_name  value  user_id
0   1      gleb      hleb    5.0      1.0
1   2  jon snow      None    NaN      NaN
2   3    tyrion      gold  100.0      3.0
3   3    tyrion      wine   20.0      3.0

In [ ]:
users = pd.DataFrame({'id':[1,2,3],'name':['gleb','jon snow', 'tyrion'],
                      'victory':[2,10,1]
                      })

In [ ]:
sql = '''select t.*, i.item_name, i.value, i.user_id
from users t
left join items i on t.id = i.user_id
'''

In [ ]:
t = select(sql)

In [ ]:
t['victory'].sum()

14

In [ ]:
sql = ''' '''

In [ ]:
sql = '''select t.id, t.name, t.victory,
count(i.item_name) as item_cnt,
coalesce(sum(i.value),0) as value_sum

from users t
left join items i on t.id = i.user_id
group by
t.id, t.name, t.victory
'''

In [ ]:
select(sql)

   id      name  victory  item_cnt  value_sum
0   1      gleb        2         1          5
1   2  jon snow       10         0          0
2   3    tyrion        1         2        120

In [ ]:
sql = '''select t.user_id, count(t.item_name), sum(value) from items t
group by t.user_id
'''

In [ ]:
select(sql)

   user_id  count(t.item_name)  sum(value)
0        1                   1           5
1        3                   2         120

In [ ]:
sql = '''
with items_agg as (
select t.user_id, count(t.item_name) as item_cnt,
sum(value) as value_sum from items t
group by t.user_id)
select 
t.id, t.name, t.victory,
coalesce(i.item_cnt, 0) as item_cnt, coalesce(i.value_sum,0) as value_sum
from users t
left join items_agg i on t.id = i.user_id
'''

In [ ]:
users

   id      name  victory
0   1      gleb        2
1   2  jon snow       10
2   3    tyrion        1

In [ ]:
select(sql)

   id      name  victory  item_cnt  value_sum
0   1      gleb        2         1          5
1   2  jon snow       10         0          0
2   3    tyrion        1         2        120

In [ ]:
sql = '''
with items_agg as (
select t.user_id, count(t.item_name) as item_cnt,
sum(value) as value_sum from items t
group by t.user_id)
select 
t.id, t.name, t.victory,
coalesce(item_cnt, 0) as item_cnt,
coalesce(value_sum,0) as value_sum
from users t
left join items_agg i on t.id = i.user_id
'''

In [ ]:
select(sql)

   id      name  victory  item_cnt  value_sum
0   1      gleb        2         1          5
1   2  jon snow       10         0          0
2   3    tyrion        1         2        120

## Rigth Join

In [ ]:
users = pd.DataFrame({'id':[1,2,3],'name':['gleb','jon snow', 'tyrion']})
items = pd.DataFrame({'user_id':[1,3,3,4], 'item_name':['hleb','gold','wine','sword'], 'value':[5,100,20,50]})

In [ ]:
users.to_sql('users', con, index=False, if_exists='replace')
items.to_sql('items', con, index=False, if_exists='replace')

In [ ]:
sql = '''select t.*,i.* from users t
left join items i on t.id = i.user_id
'''

In [ ]:
select(sql)

   id      name  user_id item_name  value
0   1      gleb      1.0      hleb    5.0
1   2  jon snow      NaN      None    NaN
2   3    tyrion      3.0      gold  100.0
3   3    tyrion      3.0      wine   20.0

In [ ]:
sql = '''select t.*, u.* from items t
left join users u on t.user_id = u.id
'''

In [ ]:
select(sql)

   user_id item_name  value   id    name
0        1      hleb      5  1.0    gleb
1        3      gold    100  3.0  tyrion
2        3      wine     20  3.0  tyrion
3        4     sword     50  NaN    None

In [ ]:
sql = '''select t.*,i.* from users t
right join items i on t.id = i.user_id
'''

## INNER JOIN

In [ ]:
sql = '''select * from german_credit t'''

In [ ]:
select(sql)

In [ ]:
clients = pd.DataFrame({
                     'client_id':[200,45],
                     'data':[1,2]
                       })

In [ ]:
clients.to_sql('clients_task_name', con, index=False, if_exists='replace')

In [ ]:
sql = '''select t.*, ctn.data from german_credit t
join clients_task_name ctn on t.client_id = ctn.client_id
'''

In [ ]:
select(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id,data
0,52,male,2,own,quite rich,None,936,9,education,0,2008-04-27 08:23:07,200,1
1,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45,2

In [ ]:
sql = '''
select date('2021-03-01') as month
union all
select date('2021-04-01') as month
'''

In [ ]:
select(sql)

   user_id
0        1
1        2
2        3

In [ ]:
sql = '''
select 1 as user_id
union all
select 2 as user_id
union all
select 3 as user_id
'''

In [ ]:
sql = '''
with users as (
select 1 as user_id
union all
select 2 as user_id
union all
select 3 as user_id
),
month as (
select date('2021-03-01') as month
union all
select date('2021-04-01') as month 
)
select * from users t
join month m on 1=1
'''

In [ ]:
select(sql)

In [ ]:
transactions = pd.read_csv('/content/drive/MyDrive/german_credit_augmented_transactions.csv')

In [ ]:
transactions.to_sql('client_transactions', con, index=False, if_exists='replace')

In [ ]:
sql = '''select
date(t.dt, 'start of month') as month,
count(1) as trans_cnt,
sum(t.amount) as amount_sum
from client_transactions t
group by date(t.dt, 'start of month')
order by date(t.dt, 'start of month')
'''

In [ ]:
min = '''select date(min(t.dt),'start of month') from client_transactions t'''
max = '''select date(max(t.dt),'start of month') from client_transactions t'''

In [ ]:
select(sql)

In [ ]:
sql = f'''
WITH RECURSIVE dates(month) AS (
  VALUES(({min}))
  UNION ALL
  SELECT date(month, '+1 month')
  FROM dates
  WHERE month < ({max})
),
trans_month as (
select
date(t.dt, 'start of month') as month,
count(1) as trans_cnt,
sum(t.amount) as amount_sum
from client_transactions t
group by date(t.dt, 'start of month')
order by date(t.dt, 'start of month')
)
SELECT t.month,
coalesce(tm.trans_cnt,0) as trans_cnt,
coalesce(tm.amount_sum,0) as amount_sum
FROM dates t
left join trans_month tm on t.month = tm.month
;
'''

In [ ]:
select(sql)

           month  client_id  trans_cnt  amount_sum
0     2007-05-01        101          1      149.67
1     2007-05-01        107          2      217.50
2     2007-05-01        110          1     1081.32
3     2007-05-01        111          1      139.97
4     2007-05-01        113          1     1051.29
...          ...        ...        ...         ...
3551  2008-06-01        983          1    10050.37
3552  2008-06-01        987          1      192.48
3553  2008-06-01        992          1     -610.21
3554  2008-06-01        996          1      121.28
3555  2008-06-01        999          1     -641.25

[3556 rows x 4 columns]

In [ ]:
sql = '''select
date(t.dt, 'start of month') as month,
t.client_id,
count(1) as trans_cnt,
sum(t.amount) as amount_sum
from client_transactions t
group by date(t.dt, 'start of month'), t.client_id
order by date(t.dt, 'start of month')
'''

In [ ]:
sql = f'''
WITH RECURSIVE dates(month) AS (
  VALUES(({min}))
  UNION ALL
  SELECT date(month, '+1 month')
  FROM dates
  WHERE month < ({max})
),
clients as (
select distinct t.client_id from german_credit t
),
clients_month as (
select t.month, c.client_id from dates t
join clients c on 1=1
--where c.client_id = 929
--order by t.month, c.client_id
),
trans_month as (
select
date(t.dt, 'start of month') as month,
t.client_id,
count(1) as trans_cnt,
sum(t.amount) as amount_sum
from client_transactions t
group by date(t.dt, 'start of month'), t.client_id
order by date(t.dt, 'start of month')
),
client_trans_month as (
select t.*, 
tm.trans_cnt,
tm.amount_sum,
1 as user,
case when tm.trans_cnt > 0 then 1 else 0 end as active
from clients_month t
left join trans_month tm on t.client_id = tm.client_id
and t.month = tm.month
)
select t.month, sum(t.user) as user_cnt,
sum(t.active) as active_cnt,
sum(t.amount_sum) as amount_sum
from client_trans_month t
group by 1
order by 1
'''

In [ ]:
sql = '''select distinct t.client_id from german_credit t'''

In [ ]:
t = select(sql)

In [ ]:
t['amount_sum'].sum()

6548980.619999999

In [ ]:
sql = '''select sum(t.amount) from client_transactions t'''

In [ ]:
select(sql)

   sum(t.amount)
0     6548980.62

## Join self

In [ ]:
t = pd.DataFrame(
    {
    'dt':pd.to_datetime(['2021-04-01','2021-04-02','2021-04-03'], format='%Y-%m-%d'),
     'revenue':[1,2,3]
    }
)

In [ ]:
t.to_sql('revenue', con, index=False, if_exists='replace')

In [ ]:
sql = '''select t.dt,t.revenue, sum(r.revenue) as cum_sum from revenue t
join revenue r on r.dt <= t.dt
group by t.dt, t.revenue
'''

In [ ]:
select(sql)

                    dt  revenue  cum_sum
0  2021-04-01 00:00:00        1        1
1  2021-04-02 00:00:00        2        3
2  2021-04-03 00:00:00        3        6

# оконные функции sql

In [ ]:
sql = '''select * from revenue t'''

In [ ]:
select(sql)

                    dt  revenue
0  2021-04-01 00:00:00        1
1  2021-04-02 00:00:00        2
2  2021-04-03 00:00:00        3

In [ ]:
sql = '''select t.*, sum(t.revenue)
over (order by t.dt) as cum_sum
from revenue t'''

In [ ]:
select(sql)

                    dt  revenue  cum_sum
0  2021-04-01 00:00:00        1        1
1  2021-04-02 00:00:00        2        3
2  2021-04-03 00:00:00        3        6

In [ ]:
t = pd.DataFrame(
    {
    'user_id':[1,1,1,2,2,2],
    'dt':pd.to_datetime(['2021-04-01','2021-04-02','2021-04-03',
                         '2021-04-01','2021-04-02','2021-04-03'], format='%Y-%m-%d'),
     'revenue':[1,2,3,2,3,4]
    }
)

In [ ]:
t

   user_id         dt  revenue
0        1 2021-04-01        1
1        1 2021-04-02        2
2        1 2021-04-03        3
3        2 2021-04-01        2
4        2 2021-04-02        3
5        2 2021-04-03        4

In [ ]:
t.to_sql('revenue', con, index=False, if_exists='replace')

In [ ]:
t.to_sql('revenue', con_pg, index=False, if_exists='replace', method=psql_insert_copy)

In [ ]:
sql = '''select * from revenue t'''

In [ ]:
sql = '''select t.*, sum(t.revenue)
over (partition by t.user_id order by t.dt) as cum_sum
from revenue t'''

In [ ]:
select_pg(sql)

   user_id         dt  revenue
0        1 2021-04-01        1
1        1 2021-04-02        2
2        1 2021-04-03        3
3        1 2021-04-03        1
4        2 2021-04-03        2
5        2 2021-04-04        3
6        2 2021-04-05        4

In [ ]:
t = pd.DataFrame(
    {
    'user_id':[1,1,1,1,2,2,2],
    'dt':pd.to_datetime(['2021-04-01','2021-04-02','2021-04-03','2021-04-03',
                         '2021-04-03','2021-04-04','2021-04-05'], format='%Y-%m-%d'),
     'revenue':[1,2,3,1,2,3,4]
    }
)

In [ ]:
sql = '''
select t.*,
rank() over(partition by t.user_id order by t.dt desc) as rnk
from revenue t
'''

In [ ]:
select(sql)

   user_id                   dt  revenue  rnk
0        1  2021-04-03 00:00:00        3    1
1        1  2021-04-03 00:00:00        1    1
2        1  2021-04-02 00:00:00        2    3
3        1  2021-04-01 00:00:00        1    4
4        2  2021-04-05 00:00:00        4    1
5        2  2021-04-04 00:00:00        3    2
6        2  2021-04-03 00:00:00        2    3

In [ ]:
sql = '''
select t.* from
(
select t.*,
rank() over(partition by t.user_id order by t.dt desc) as rnk
from revenue t
) t
where t.rnk = 1 
'''

In [ ]:
select(sql)

   user_id                   dt  revenue  rnk
0        1  2021-04-03 00:00:00        3    1
1        1  2021-04-03 00:00:00        1    1
2        2  2021-04-05 00:00:00        4    1

In [ ]:
sql = '''
with ranked as (
select t.*,
rank() over(partition by t.user_id order by t.dt desc) as rnk
from revenue t
)
select t.* from ranked t
where t.rnk = 1
'''

In [ ]:
select(sql)

   user_id                   dt  revenue  rnk
0        1  2021-04-03 00:00:00        3    1
1        1  2021-04-03 00:00:00        1    2
2        1  2021-04-02 00:00:00        2    3
3        1  2021-04-01 00:00:00        1    4
4        2  2021-04-05 00:00:00        4    1
5        2  2021-04-04 00:00:00        3    2
6        2  2021-04-03 00:00:00        2    3

In [ ]:
sql = '''
select t.*,
row_number() over(partition by t.user_id order by t.dt desc) as rnk
from revenue t
'''

In [ ]:
sql = '''
with ranked as (
select t.*,
row_number() over(partition by t.user_id order by t.dt desc) as rnk
from revenue t
)
select t.* from ranked t
where t.rnk = 1
'''

In [ ]:
select(sql)

   user_id                   dt  revenue  rnk
0        1  2021-04-03 00:00:00        3    1
1        2  2021-04-05 00:00:00        4    1

In [ ]:
sql = '''select * from revenue t'''

In [ ]:
sql = '''select t.user_id, max(t.dt), t.revenue
from revenue t
group by t.user_id
'''

In [ ]:
select(sql)

   user_id            max(t.dt)  revenue
0        1  2021-04-03 00:00:00        3
1        2  2021-04-03 00:00:00        4

## Задача по сред з/п

In [ ]:
t = pd.DataFrame({'dep':['a','a','a','a','a',
                         'b','b','b','b','b'],
                  'emp':['aa','bb','cc','dd','ee',
                         'aa','bb','cc','dd','ee'],
                  'sal':[5,5,3,2,1,
                         5,4,3,2,1]})

In [ ]:
t.to_sql('salary', con, index=False, if_exists='replace')

In [ ]:
sql = '''select * from salary t'''

In [ ]:
sql = '''select t.*,
rank() over (partition by t.dep order by t.sal desc) as rnk,
dense_rank() over (partition by t.dep order by t.sal desc) as drnk
from salary t'''

In [ ]:
select(sql)

  dep emp  sal  rnk  drnk
0   a  aa    5    1     1
1   a  bb    5    1     1
2   a  cc    3    3     2
3   a  dd    2    4     3
4   a  ee    1    5     4
5   b  aa    5    1     1
6   b  bb    4    2     2
7   b  cc    3    3     3
8   b  dd    2    4     4
9   b  ee    1    5     5

In [ ]:
sql = '''
with sal_rnk as (
select t.*,
rank() over (partition by t.dep order by t.sal desc) as rnk,
dense_rank() over (partition by t.dep order by t.sal desc) as drnk
from salary t
)
select t.*
from
sal_rnk t
where t.drnk <= 3
'''

In [ ]:
select(sql)

  dep emp  sal  rnk  drnk
0   a  aa    5    1     1
1   a  bb    5    1     1
2   a  cc    3    3     2
3   a  dd    2    4     3
4   b  aa    5    1     1
5   b  bb    4    2     2
6   b  cc    3    3     3

## Клиентские сессии

In [ ]:
user1 = pd.DataFrame({'user_id':[1,1,1,1,1],
                  'dt':pd.to_datetime(['2021-04-01 07:31','2021-04-01 07:35',
                                       '2021-04-01 08:20','2021-04-01 12:31',
                                       '2021-04-03 07:31'],format='%Y-%m-%d %H:%M')})

In [ ]:
user2 = pd.DataFrame({'user_id':[2,2,2,2],
                  'dt':pd.to_datetime(['2021-04-01 07:31','2021-04-01 07:35',
                                       '2021-04-01 08:20','2021-04-01 9:10',
                                       ],format='%Y-%m-%d %H:%M')})

In [ ]:
user3 = pd.DataFrame({'user_id':[3,3,3],
                  'dt':pd.to_datetime(['2021-04-01 07:31','2021-04-02 07:35',
                                       '2021-04-03 08:20'
                                       ],format='%Y-%m-%d %H:%M')})

In [ ]:
t = pd.concat([user1,user2,user3])

In [ ]:
t.to_sql('client_log', con, index=False, if_exists='replace')

In [ ]:
sql = '''select * from client_log t'''

In [ ]:
select(sql)

    user_id                   dt
0         1  2021-04-01 07:31:00
1         1  2021-04-01 07:35:00
2         1  2021-04-01 08:20:00
3         1  2021-04-01 12:31:00
4         1  2021-04-03 07:31:00
5         2  2021-04-01 07:31:00
6         2  2021-04-01 07:35:00
7         2  2021-04-01 08:20:00
8         2  2021-04-01 09:10:00
9         3  2021-04-01 07:31:00
10        3  2021-04-02 07:35:00
11        3  2021-04-03 08:20:00

In [ ]:
sql = '''
with new_sessions as (
select t.*,
lag(t.dt) over (partition by t.user_id order by t.dt) as prev_dt
from client_log t
),
new_session as (
select t.*,
round((JulianDay(t.dt) -JulianDay(t.prev_dt)) * 24 * 60 * 60) as date_diff
from new_sessions t
),
session_uniq as (
select t.*,
case when t.date_diff > 3600 then 1 else 0 end as session
from new_session t
),
session_cnt as (
select t.*,
sum(t.session) over (partition by t.user_id order by t.dt) as ses_cnt
from session_uniq t
),
sessions_by_user as (
select t.user_id, count(distinct ses_cnt) as ses_cnt from session_cnt t
group by t.user_id
)
select sum(t.ses_cnt) from sessions_by_user t
'''

In [ ]:
select(sql)

   sum(t.ses_cnt)
0               7

In [ ]:
select(sql)

,user_id,dt,prev_dt,date_diff,session,ses_cnt
0,1,2021-04-01 07:31:00,None,NaN,0,0
1,1,2021-04-01 07:35:00,2021-04-01 07:31:00,240.0,0,0
2,1,2021-04-01 08:20:00,2021-04-01 07:35:00,2700.0,0,0
3,1,2021-04-01 12:31:00,2021-04-01 08:20:00,15060.0,1,1
4,1,2021-04-03 07:31:00,2021-04-01 12:31:00,154800.0,1,2
5,2,2021-04-01 07:31:00,None,NaN,0,0
6,2,2021-04-01 07:35:00,2021-04-01 07:31:00,240.0,0,0
7,2,2021-04-01 08:20:00,2021-04-01 07:35:00,2700.0,0,0
8,2,2021-04-01 09:10:00,2021-04-01 08:20:00,3000.0,0,0
9,3,2021-04-01 07:31:00,None,NaN,0,0
10,3,2021-04-02 07:35:00,2021-04-01 07:31:00,86640.0,1,1
11,3,2021-04-03 08:20:00,2021-04-02 07:35:00,89100.0,1,2

## Скользящая средняя

In [10]:
t = pd.DataFrame({'user_id':[1,1,1,1,1,1,
                             2,2,2,2,2],
                  'dt':[1,2,3,4,5,6,
                        1,2,3,4,5],
                  'revenue':[1,2,3,4,5,6,
                             3,4,5,6,7]})

In [11]:
t.to_sql('revenue', con, index=False, if_exists='replace')

In [12]:
sql = '''select * from revenue t'''

In [13]:
select(sql)

    user_id  dt  revenue
0         1   1        1
1         1   2        2
2         1   3        3
3         1   4        4
4         1   5        5
5         1   6        6
6         2   1        3
7         2   2        4
8         2   3        5
9         2   4        6
10        2   5        7

In [22]:
sql = '''select t.*,
avg(t.revenue) over (partition by t.user_id order by t.dt
rows between 2 preceding and current row
) as mov_avg
from revenue t'''

In [23]:
select(sql)

    user_id  dt  revenue  mov_avg
0         1   1        1      1.0
1         1   2        2      1.5
2         1   3        3      2.0
3         1   4        4      3.0
4         1   5        5      4.0
5         1   6        6      5.0
6         2   1        3      3.0
7         2   2        4      3.5
8         2   3        5      4.0
9         2   4        6      5.0
10        2   5        7      6.0